<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        table {
            width: 90%;
            height: 800px;
            border: 2px solid #333333;
            border-collapse: collapse;
            background-color: #ffffff;
        }
        table td {
            border: 1px solid #aaaaaa;
            padding: 10px;
            vertical-align: top;
        }
        h1 {
            color: #2c3e50;
            margin: 0;
            padding: 20px 0;
        }
        #menu h2 {
            color: #2c3e50;
        }
        #menu a img {
            width: 80px;
            border: 1px solid #ccc;
            padding: 2px;
            transition: 0.2s;
        }
        #menu a img:hover {
            border-color: #2c3e50;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%if (Session["nihol"] == "ok" || Session["user"] == "ok")
        {  %>
    שלום<%=Session["fullname"] %>
    <%} %>
    <table >
        <tr>
            <td colspan="2" align="center" hight="30px">
                <h1>     Eitan Nitzani Website      </h1>
                        <img src= "https://static.wixstatic.com/media/ab7dbe_01a84d8d94394a1186c1e68498311230~mv2.png/v1/fit/w_2500,h_1330,al_c/ab7dbe_01a84d8d94394a1186c1e68498311230~mv2.png" style="width:120px;height:100px;"/>
            </td>


            </tr hight="60px">  
      <td> 
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server"> 
        
        </asp:ContentPlaceHolder> 
        </td>

       <td> 
           <h4>קישורים מהירים</h4><br />
           <a href="homepage.aspx"><img src="תמונות/עמוד%20בית.png" style="width:120px;height:100px;"/></a><br />
           <a href="MyForm.aspx"><img src="תמונות/myform.png" style="width:120px;height:100px;"/></a><br />
           <a href="register.aspx"><img src="תמונות/הרשמה%20לאתר.png" style="width:120px;height:100px;"/></a><br />
           <a href="login.aspx"><img src= "תמונות/login.png"  style="width:120px;height:100px;"/></a><br />
           <%if (Session["nihol"] == "ok"  ){ %>
           <a href="manager.aspx"><img src="תמונות/תמונה%20מנהל1.png"  style="width:120px;height:100px;" /></a><br />
           <% } %>
            <%if (Session["nihol"] == "ok"  || Session["user"] == "ok"  ){ %>
 <a href="logout"><img src="<img src="תמונות/תמונה4.png" />"  style="width:120px;height:100px;" /></a><br />
 <% } %>

       </td>
            </table>

</body>
</html>
